.container {
    height: 100%;
    min-height: calc(100vh - 64px);
    width: 100%;
    background-color: rebeccapurple;
}
/* 图表尺寸 */
.chartBox {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.chartBoxEdit {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 10px;
}